* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.add-note{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100px;    
  cursor: pointer;
  border: 1px dashed gray;
}

.icon-plus{
    padding: 0 14px;
    border: 1px solid;
    width: fit-content;
    border-radius: 50%;
    font-size: xx-large;
}

.content{
    display: contents;
}


