* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  background-color: rgb(80, 80, 80);
}

.container {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.add-note {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 90px;
  cursor: pointer;
  border: 1px dashed;
  user-select: none;
  border-radius: 5%;
  color: white;
}

.icon-plus {
  padding: 0 14px;
  border: 1px solid;
  width: fit-content;
  border-radius: 50%;
  font-size: xx-large;
}

.content {
  display: contents;
}

textarea {
  padding: 5px;
  padding-top: 15px;
  padding-right: 10px;
  outline: none;
  resize: none;
  border: none;
  background-color: transparent;
  font-size: 20px;
  width: 195px;
  height: 150px;
}

textarea::-webkit-scrollbar {
  height: 80px;
}

textarea::-webkit-scrollbar-track {
  /* border: solid; */
  height: 8px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgb(0, 0, 0, 0.40);
}

textarea::-webkit-scrollbar-thumb {
  /* border: solid; */
  background: rgb(0, 0, 0, 0.20);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.item {
  border: solid 1px;
  position: relative;
  width: 200px;
  height: 150px;
  box-shadow: 0 5px 10px 1px rgba(255, 255, 255, 0.385);
}

.remove {
  margin-top: 5px;
  position: absolute;
  right: 18px;
  cursor: pointer;
  color: white;
  font-size: 12px;
  user-select: none;
}