* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.add-note{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100px;    
  cursor: pointer;
  border: 1px dashed gray;
}

.icon-plus{
    padding: 0 14px;
    border: 1px solid;
    width: fit-content;
    border-radius: 50%;
    font-size: xx-large;
}

.content{
    display: contents;
}

textarea{
  padding: 5px;
  padding-top: 14px;
  outline: none;
  resize: none;
  border: none;
  background-color: transparent;
  font-size: 20px;
  width: 200px;
  height: 150px;
}

textarea::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #8b4453;
}

.item{
  position: relative;
  width: 200px;
  height: 150px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.remove{
  position: absolute;
  right: 6px;
  cursor: pointer;
  color: white;
}
